@media screen and (max-width: 992px) {
    .menu ul {
        display: none;
    }
    .menu ul li {
        border: none;
    }
    .menu ul li a {
        text-align: left;
    }
    .submenu {
        z-index: 999;
        width: 100%;
        display: block;
    }
    .submenu-sub {
        position: static;
        z-index: 999;
    }
    .hamburger-menu-btn {
        display: block;
    }
    .main-about-center-left {
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .main-about-center-left a {
        margin: 0 auto;
        text-align: center;
    }
    .contacts-right {
        padding-bottom: 50px;
    }
    .main-recommended {
        position: static;
        width: 270px;
        margin: 30px auto 0 auto;
    }
    .tickets-left {
        margin-top: 50px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .tickets-right {
        margin: 0;
    }
    .footer-top {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer-contacts {
        margin-top: 20px;
    }
    .footer-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer-bottom-copyright {
        text-align: center;
        width: auto;
    }
    .developed-by {
        margin: 20px 0;
    }
    .press-right {
        margin: 0;
    }
}

@media screen and (max-width: 890px) {
    .header-items {
        margin-right: 15px;
    }
}

@media screen and (max-width: 800px) {
    .conference-slider {
        width: 100% !important;
        overflow: scroll;
    }
}

@media screen and (max-width: 768px) {
    .news-title {
        text-align: center;
    }
    .news-items-big {
        width: auto;
        margin: 0 auto 30px auto;
    }
    .news-items-big-content {
        width: 100%;
        height: auto;
    }
    .news-items-big-content img {
        width: 100%;
        height: auto;
        position: static;
    }
    .news-items-big-content-span {
        position: static;
    }
    .news-items-big-content-span h5 {
        width: 100%;
    }
    .news-items-small {
        margin: 0 auto 30px auto;
    }
    .responsive-bg {
        background-image: url("../images/main-bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        position: relative;
    }
    .responsive-bg:before {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .main-left {
        padding-left: 20px;
        padding-right: 20px;
        float: left;
    }
    .main-left h1,
    .main-left ul li a {
        color: #fff !important;
    }
    .header-items-wrap {
        margin: 20px 0;
    }
    .online-pay {
        width: 30%;
    }
    .gallery-arrows a:first-child {
        left: 0;
    }
    .gallery-arrows a:last-child {
        right: 0;
    }
    .souvenir-products-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    .souvenir-products-right h4 {
        margin-top: 40px;
    }
    .souvenir-products-btn {
        margin: 0 auto;
    }
    .souvenir-inner-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .souvenir-inner-right {
        margin: 0;
    }
    .souvenir-inner-right h4 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 675px) {
    .main-activity-tabs-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main-activity-item {
        margin-bottom: 40px;
        margin-left: 0;
    }
}

@media screen and (max-width: 650px) {
    .header-top {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .header-items-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 560px) {
    .conference-left {
        width: 100%;
        float: none;
    }
    .conference-top,
    .conference-bottom-slide {
        margin: 0 auto;
    }
    .conference-bottom {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .contacts-right {
        padding: 50px 20px;
        text-align: center;
    }
    .contacts-btn a {
        margin: 0 auto;
    }
    .main-activity-title {
        text-align: center;
    }
    .footer-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    .footer-top ul li {
        line-height: 3;
    }
    .table-administration table {
        display: block;
        overflow: auto;
    }
}

@media screen and (max-width: 400px) {
    .header-top {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .conference-top,
    .conference-bottom-slide {
        width: 100%;
    }
    .feedback-form {
        padding: 20px !important;
    }
    .feedback-close {
        position: absolute;
        right: 50px;
    }
    .contacts-btn {
        margin: 0;
    }
}

@media screen and (max-width: 370px) {
    .main-activity-tabs ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .main-activity-tabs ul li {
        margin-bottom: 20px;
    }
    .main-activity-tabs ul li:hover {
        padding: 10px 90px;
    }
    .tab-active {
        padding: 10px 90px;
    }
}