@media screen and (max-width: 992px)
	.menu
		ul
			flex-direction: column
			li
			 	border: none
			 	a
			 		text-align: left
	.sf-menu
		display: none
		ul
			position: static
			li
				a
					padding-left: 50px
	.submenu
		z-index: 999
		width: 100%
		display: block
		&-sub
			position: static
			z-index: 999
	.hamburger-menu-btn
		display: block
	.main-about-center-left
		float: none
		margin: 0 auto
		text-align: center
		a
			margin: 0 auto
			text-align: center
	.contacts-right
		padding:
			bottom: 50px
	.main-recommended
		position: static
		width: 270px
		margin: 30px auto 0 auto;
	.tickets-left
		margin:
			top: 50px
			bottom: 0
			left: 0
			right: 0
	.tickets-right
		margin: 0
	.footer-top
		flex-wrap: wrap
	.footer-contacts
		margin-top: 20px
	.footer-bottom
		flex-direction: column
		align-items: center
	.footer-bottom-copyright
		text-align: center
		width: auto
	.developed-by
		margin: 20px 0

@media screen and (max-width: 890px)
	.header-items
		margin-right: 15px

@media screen and (max-width: 768px)
	.news-title
		text-align: center
	.news-items-big
		width: 225px
		margin: 0 auto 30px auto
	.news-items-big-content
		width: 100%
		height: auto
		img
			width: 100%
			height: auto
			position: static
		&-span
			position: static
			h5
				width: 100%
	.news-items-small
		margin: 0 auto 30px auto
	.responsive-bg
		background-image: url('../images/main-bg.jpg')
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
		position: relative
		&:before
			content: ''
			display: block
			position: absolute
			background-color: rgba(0, 0, 0, .5)
			top: 0
			right: 0
			bottom: 0
			left: 0
	.main-left
		padding:
			left: 20px
			right: 20px
		float: left
		h1, ul li a
			color: #fff !important
	.header-items-wrap
		margin: 20px 0
	.online-pay
		width: 30%
	.gallery-arrows
		a
			&:first-child
				left: 0
			&:last-child
				right: 0
	.souvenir-products-content
		flex-direction: column
		align-items: center
		text-align: center
	.souvenir-products-right
		h4
			margin-top: 40px
	.souvenir-products-btn
		margin: 0 auto
	.souvenir-inner-content
		flex-direction: column
	.souvenir-inner-right
		margin: 0
		h4
			margin-top: 20px
	
@media screen and (max-width: 675px)
	.main-activity-tabs-items
		flex-direction: column
		align-items: center
	.main-activity-item
		margin-bottom: 40px
		margin-left: 0


@media screen and (max-width: 650px)
	.header-top
		flex-wrap: wrap
		justify-content: center
		flex-direction: column
		align-items: flex-start
	.header-items-wrap
		flex-direction: column
		align-items: flex-start
		padding-left: 20px
		padding-right: 20px

@media screen and(max-width: 560px)
	.conference-left
		width: 100%
		float: none
	.conference-top,
	.conference-bottom-slide
		margin: 0 auto
	.conference-bottom
		margin:
			top: 20px
			bottom: 20px

@media screen and (max-width: 480px)
	.contacts-right
		padding: 50px 20px
		text-align: center
	.contacts-btn
		a
			margin: 0 auto
	.footer-top
		flex-direction: column
		align-items: center
		text-align: center
		ul
			li
				line-height: 3
	.table-administration
		table
			display: block
			overflow: auto

@media screen and (max-width: 400px)
	.header-top
		align-items: flex-start
	.conference-top,
	.conference-bottom-slide
		width: 100%

@media screen and (max-width: 370px)
	.main-activity-tabs
		ul
			flex-direction: column
			li
				margin-bottom: 20px
				&:hover
					padding: 10px 90px
	.tab-active
		padding: 10px 90px