@font-face 
	// Muller regular
	src: url("../fonts/MullerRegular/MullerRegular.otf")
	font-family: 'muller-regular'
	font-weight: 400

@font-face 
	// Muller medium
	src: url("../fonts/MullerMedium/Muller-Medium.otf")
	font-family: 'muller-medium'

@font-face
	// Manrope regular
	src: url("../fonts/Manrope/regular.otf")
	src: url("../fonts/Manrope/regular.ttf")
	font-family: 'Manrope-Regular'

@font-face
	// Manrope regular
	src: url("../fonts/Manrope/medium.otf")
	src: url("../fonts/Manrope/medium.ttf")
	font-family: 'Manrope-Medium'

// vars
$mr: 'muller-regular'
$mm: 'muller-medium'
$dark: #1d2025
$accent: #98d600
$blue: #5ba1cd
$manRegular: 'Manrope-Regular'
$manMedium: 'Manrope-Medium'
// end vars

@mixin bgc
	background-color: rgb(43, 45, 52)

.container
	max-width: 1170px !important

.no-padding
	padding: 0 !important

.no-padding-x
	padding:
		left: 0 !important
		right: 0 !important

/* online pay */
.online-pay
	background-color: #008db7
	width: 220px
	border-bottom-left-radius: 10px
	border-top-left-radius: 10px
	position: fixed
	z-index: 999
	right: 0
	top: 350px
	transition: 0.5s ease
	ul
		padding: 0
		margin: 0
		li
			list-style-type: none
			border-bottom: 1px solid #73bcd2
			font-family: $mr
			font-size: 15px
			padding: 0
			&:last-child
				margin-bottom: 0
				border: none
			a
			  text-decoration: none
			  display: block
			  padding-top: 15px
			  padding-left: 20px
			  padding-right: 20px
			  padding-bottom: 10px
			  color: #fff
			  transition: 0.5s ease
			  &:hover
			  	background-color: #fff
			  	color: #008db7

.online-pay-btn
	background-color: #00a3d3
	display: block
	padding: 10px 20px
	border-bottom-left-radius: 10px
	border-top-left-radius: 10px
	font-family: $mr
	font-size: 17px
	color: #fff
	&:hover
		text-decoration: none
		color: #fff
/* end online pay */

/* header */
.header-top
	background-color: #fff
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: space-between

.header-items-wrap
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: flex-end
	align-items: center

.header-items
	font-family: $mr
	margin-right: 75px


/* LANGS */
.header-lang
	z-index: 999
	ul
		position: absolute
		padding: 0
		li
			list-style-type: none
/* END LANGS */

.header-phone
	background-image: url('../images/main-phone.png')
	background-repeat: no-repeat
	background-position: left top
	padding-left: 30px


.header-message
	background-image: url('../images/main-message.png')
	background-repeat: no-repeat
	background-position: left center
	padding-left: 30px

.header-location
	background-image: url('../images/main-location.png')
	background-repeat: no-repeat
	background-position: left center
	padding-left: 30px

.header-menu	
	@include bgc

.hamburger-menu-btn
	padding: 5px 20px
	display: none
	img
		width: 40px
		height: 40px
	a
		width: 100%
		display: block

.menu
	position: relative
	ul
		margin: 0
		padding: 0
		li
			list-style: none
			font-family: $mm
			border-right: 1px solid #7d7f83
			text-align: center
			position: relative
			&:last-child
				border: none
			a
				color: #fff
				padding: 20px
				text-decoration: none
				transition: 0.3s ease
				&:hover
					background-color: #1d2025


.sf-menu
	float: none !important
	text-align: center
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	>li
		float: none
		display: inline-block
		background: none
		width: 100%
		a
			border: none
			background: none

.submenu
	background-color: #1d2025
	width: 340px
	z-index: 999
	li
		text-align: left !important
		border: none !important
		line-height: 1
		a
			&:hover
				background-color: #2b2d34 !important
				padding: 30px

	&-sub
		z-index: 99
		left: 340px
		top: 0
		background-color: #1d2025
		width: 340px
		li
			text-align: left !important
			border: none !important
			line-height: 1
			a
				&:hover
					background-color: #2b2d34 !important
					padding: 30px

.submenu-arrow
	position: relative
	&:after
		content: url('../images/submenu-arrow.png')
		position: absolute
		right: 10%
/* end header */

/* main */
.main-left
	max-width: 410px
	width: 100%
	padding: 132px 0
	float: right
	position: relative
	h1
		font-family: $mr
		font-size: 42px
		color: #000
	ul
		padding: 0
		margin-top: 40px
		li
			list-style-type: none
			text-transform: uppercase
			line-height: 20px
			a
				color: #000
				font-family: $mr
				font-size: 12px
				text-decoration: none
				&:after
					content: ''
					display: block
					background-color: #000
					height: 1px
					width: 100px
					margin-bottom: 15px
					width: 0
					transition: 0.2s ease
				&:hover 
					&:after
						width: 220px
	.container
		max-width: 375px
		width: 100%
		float: right

.main-right
	background-image: url('../images/main-bg.jpg')
	background-size: cover
	background-repeat: no-repeat
	width: 100%

.main-about-center
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	&-left
		position: relative
		max-width: 410px
		width: 100%
		max-height: 285px
		height: 100%
		float: right
		padding: 120px 0
		h2
			font-family: $mr
			font-size: 43px
			color: #fff
		a
			color: $accent
			font-family: $mr
			font-size: 12px
			text-transform: uppercase
			text-decoration: none
			background-image: url('../images/rectangle-right-link.png')
			background-position: right center
			background-repeat: no-repeat
			width: 122px
			display: block
			&:after
				content: ''
				display: block
				background-color: $accent
				height: 1px
				width: 100px
				margin-bottom: 15px
				width: 0
				transition: 0.5s ease
			&:hover 
				&:after
					width: 105px
	&-left-bg
		background-image: url('../images/main-center-left-bg.jpg')
		background-repeat: no-repeat
		background-size: cover


	&-right
		max-width: 720px
		width: 100%
		padding: 40px 30px
		border-left: 4px solid #00a3d3
		&:before
			content: ''
			display: block
			width: 4px
			height: 94px
			position: absolute
			background-color: $accent
			left: 0
			top: 50%
			transform: translateY(-50%)
		&-container
			padding: 40px 30px
			height: 100%
		p
			margin: 0
	
		&-wrap
			background-color: #f4f4f4

.main-activity
	&-title
		margin: 57px 0 45px 0
		max-width: 411px
		width: 100%
		font-family: $mr
		font-size: 43px
		color: #000
	&-tabs
		max-width: 411px
		width: 100%
		ul
			padding: 0
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: space-between
			li
				list-style-type: none
				text-transform: uppercase
				font-size: 12px
				font-family: $mr
				transition: 0.3s ease
				&:hover
					background-color: #f0f0f0
					padding: 10px 12px
					border-radius: 10px
				a
					color: #000
					text-decoration: none

.tab-active
	background-color: #f0f0f0
	padding: 10px 12px
	border-radius: 10px
	a
		color: #00a3d3 !important

.main-activity-tabs-items
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.main-activity-item
	background-color: #f0f0f0
	width: 270px
	text-align: center
	padding-bottom: 20px
	margin-left: 20px
	img
		width: 100%
	h4
		font-family: $mm
		font-size: 18px
		color: #000
		padding: 20px 0
	a
		font-family: $mr
		font-size: 13px
		color: #fff
		background-color: #00a3d3
		display: block
		width: 151px
		margin: 0 auto
		height: 30px
		line-height: 30px
		border-radius: 10px
	h3
		font-family: $mr
		font-size: 12px
		text-transform: uppercase
		letter-spacing: 6px
		margin: 14px 0
	p
		font-family: $mr
		font-size: 14px
		text-align: left
		margin:
			top: 22px
			right: 23px
			bottom: 0
			left: 23px


.main-recommended
	background-color: #2b2d34
	padding: 24px 16px
	position: absolute
	top: -128px
	h3
		font-family: $mr
		font-size: 16px
		letter-spacing: 6px
		color: #fff

.main-recommended-1
	background-image: url('../images/recomended-1.jpg')
	background-repeat: no-repeat
	background-size: cover
	margin-bottom: 20px

.main-recommended-2
	background-image: url('../images/recomended-2.jpg')
	background-repeat: no-repeat
	background-size: cover
	margin-bottom: 20px

.main-recommended-3
	background-image: url('../images/recomended-3.jpg')
	background-repeat: no-repeat
	background-size: cover

.main-recommended-item
	padding: 20px 0 15px 0
	span
		background-color: #98d600
		font-family: $mr
		font-size: 13px
		padding: 10px
		border-top-right-radius: 10px
		border-bottom-right-radius: 10px
	h5
		font-family: $mr
		font-size: 12px
		color: #fff
		letter-spacing: 6px
		text-transform: uppercase
		margin-top: 65px
		margin-left: 10px
	h4
		font-family: $mm
		font-size: 18px
		color: #fff
		margin-left: 10px


.tickets-wrap
	background-image: url('../images/tickets-bg.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-position: left center
	color: #fff
	margin: 67px 0

.tickets-left,
.tickets-right
	margin: 125px 0

.tickets-left
	h2
		font-family: $mr
		font-size: 43px

.tickets-right
	p
		font-family: $mr
		font-size: 14px

.main-news-flex
	flex-wrap: wrap

.news-title
	margin-bottom: 35px
	h2
		font-family: $mr
		font-size: 43px


.news-items-small
	border: 1px solid #e6e6e6
	transition: 0.3s ease
	width: 225px
	img
		width: 100%
	h5
		font-family: $mm
		font-size: 18px
		line-height: 30px
		margin:
			top: 20px
			bottom: 35px
			left: 20px
			right: 20px 
	&:hover
		transform: scale(1.1)
		box-shadow: 0px 8px 5.32px 1.68px rgba(0, 0, 0, 0.11)
	span
		font-family: $mr
		font-size: 13px
		display: block
		color: #393b3b
		margin:
			bottom: 20px
			left: 20px
			right: 20px 

.news-items-big
	transition: 0.3s ease
	&:hover
		transform: scale(1.1)
		box-shadow: 0px 8px 5.32px 1.68px rgba(0, 0, 0, 0.11)

.news-items-big-content
	border: 1px solid #e6e6e6
	background-color: #fff
	height: 420px
	img
		position: absolute
		left: 0
		width: 100%
		height: 100%
	h5
		font-family: $mm
		font-size: 18px
		line-height: 30px
		width: 290px
		margin-bottom: 60px
	span
		font-family: $mr
		font-size: 13px
		display: block
		color: #393b3b


.news-items-big-content-span
	border: 1px solid #e6e6e6
	position: absolute
	background-color: #fff
	bottom: 0
	left: 0
	padding: 23px

.news-text-items
	margin-top: 55px
	border-right: 1px solid #9eaf74
	transition: 0.3s ease
	&:hover
		transform: scale(1.1)
		box-shadow: 0px 8px 5.32px 1.68px rgba(0, 0, 0, 0.11)
	img
		width: 100%
	h5
		font-family: $mm
		font-size: 18px
		line-height: 30px
		margin:
			top: 20px
			bottom: 15px
			left: 20px
			right: 20px 
	span
		font-family: $mr
		font-size: 13px
		display: block
		color: #393b3b
		margin:
			bottom: 20px
			left: 20px
			right: 20px

.news-text-items-1
	border-left: 1px solid #9eaf74

.main-contacts
	margin-top: 70px

.contacts-right
	background-color: #f4f4f4
	height: 450px
	width: 100%
	padding: 
		top: 55px
		left: 111px

.contacts-right-title
	h2
		font-family: $mr
		font-size: 43px
		color: #000
		margin: 
			bottom: 40px

.contacts-inner-items
	font-size: 18px
	font-family: $mr
	margin-bottom: 25px
	img
		margin-right: 18px

.contacts-btn
	margin-top: 50px
	a
		display: block
		text-decoration: none
		font-family: $mr
		font-size: 17px
		border: 1px solid #000
		color: #000
		padding: 10px 0
		width: 220px
		text-align: center
		border-radius: 10px
		transition: 0.3s ease
		&:hover
			background-color: #000
			color: #fff
/* end main */

/* bread crumbs */
.bread-crumbs
	ul
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		padding: 0
		font-size: 12px
		font-family: $mr
		margin: 30px 0
		li
			list-style-type: none
			margin-right: 5px
			margin-left: 5px
			a
				color: #000

.bread-crumbs-active
	color: #00a3d3 !important
/* end bread crumbs */ 


/* mandat */
.mandat-target-wrap
	background-image: url('../images/mandat-bg.jpg')
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	height: 290px

.h-100
	height: 100% !important

.mandat-target
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: center
	height: 100%
	h2
		font-family: $mr
		font-size: 30px
		color: #fff

.mandat-content
	margin: 50px 20px
	p
		font-family: $mr
		font-size: 16px
		color: #000
	h5
		font-family: $mm
		font-size: 16px
		margin: 25px 0
		color: #000
	ul
		padding: 0
		margin-left: 15px
		li
			color: #00a3d3
			span
				color: #000
				margin-left: 27px
				font-family: $mr
				font-size: 16px
/* end mandat */


/* reports */
.reports-wrap
	background-image: url('../images/reports-bg.jpg')
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	height: 286px
	color: #fff

.reports-title
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	flex-direction: column
	height: 100%
	h2
		font-family: $mr
		font-size: 30px

.report-document-wrap
	margin: 42px 0
	font-family: $mr

.report-document-item
	background-color: #f8f8f8
	padding: 25px
	margin-bottom: 25px
	transition: 0.3s ease
	&:hover
		box-shadow: 0px 6px 7.52px 0.48px rgba(0, 0, 0, 0.07)
	a
		text-decoration: underline
		font-size: 16px
		color: #434343
		&:hover
			color: #00a3d3
	img
		margin-right: 26px

.back-main
	margin: 20px 0
	a
		color: #6d6d6d
		font-family: $mr
		font-size: 12px
	img
		margin-right: 10px
/* end reports */


/* souvenir main */
.souvenir-main-title
	text-align: center
	font-family: $mr
	font-size: 18px
	margin: 30px 0

.souvenir-products-content
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin: 60px 0

.souvenir-products-left
	max-width: 270px
	width: 100%
	img
		width: 100%
		box-shadow: 0px 5px 8.73px 0.27px rgba(0, 0, 0, 0.33)

.souvenir-products-right
	margin-left: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: space-between
	h4
		font-family: $mr
		font-size: 22px
	h5
		font-family: $mm
		font-size: 16
	p
		font-family: $mr
		font-size: 16px
	a
		display: block
		text-decoration: none
		background-color: #00a3d3
		width: 200px
		text-align: center
		color: #fff
		padding: 10px 0
		border-radius: 10px
		transition: 0.3s ease
		&:hover
			background-color: #000
/* end souvenir main */


/* souvenir inner */
.souvenir-inner-content
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.souvenir-inner-title
	text-align: center
	font-family: $manRegular
	font-size: 24px
	margin: 30px 0

.souvenir-inner-left
	max-width: 270px
	width: 100%
	img
		width: 100%
		box-shadow: 0px 5px 8.73px 0.27px rgba(0, 0, 0, 0.33)

.souvenir-inner-right
	margin-left: 30px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: space-between
	h4
		font-family: $mr
		font-size: 22px
	h5
		font-family: $mm
		font-size: 16
	p
		font-family: $mr
		font-size: 16px
	h3
		font-family: $mm
		font-size: 18px
		color: #000
	span
		color: $blue
		text-transform: uppercase

.pay-souvenir
	h3
		margin: 40px 0 20px 0
	input
		margin-bottom: 20px
		border: 1px solid #b8b8b8
		border-radius: 10px
		outline: none
	[type="text"]
		height: 44px
		max-width: 300px
		width: 100%
		padding: 0 20px
		font-family: $mm
		font-size: 16px
	[type="checkbox"]
		width: 23px
		height: 23px
		border-radius: 5px
		background-color: none
		margin: 0
		vertical-align: middle
		cursor: pointer
		background-color: none
	label
		margin: 0
		font-family: $mr
		font-size: 13px
		color: #939393
		margin-left: 15px
	h6
		margin-bottom: 15px
	span
		margin-left: 20px
		color: #b8b8b8
		font-family: $mm
		font-size: 13px

.check-form-pay
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin-top: 18px

.check-form-pay-left
	h6
		font-family: $mm
		font-size: 16px
		vertical-align: middle
		margin-top: 10px

.check-form-pay-right
	margin-left: 41px
	button
		display: block
	select
		height: 44px
		max-width: 365px
		border: 1px solid #b8b8b8
		width: 100%
		padding: 0 30px 0 5px
		margin-bottom: 27px
		font-family: $mm
		font-size: 16px
		border-radius: 5px
		color: #3a3a3a
		outline: none
		appearance: none
		background-image: url('../images/select-arrow-down.png')
		background-position: 97% center
		background-repeat: no-repeat
	button
		background-color: $blue
		border: none
		width: 136px
		height: 45px
		color: #fff
		cursor: pointer
		border-radius: 10px
		outline: none
/* end souvenir inner */ 


/* BOOKS STYLES */

ul.tabs
	margin: 0px
	padding: 0px
	list-style: none
	display: flex
	justify-content: center

ul.tabs li
	background: none
	color: #000
	font-size: 18px
	font-family: $mr
	display: inline-block
	padding: 5px 15px
	margin: 0 0.5rem
	cursor: pointer
	border-radius: 10px


ul.tabs li.current
	background: #fff
	color: #5ca2d0
	-webkit-box-shadow: 0px 5px 40px -15px rgba(0,0,0,0.75)
	-moz-box-shadow: 0px 5px 40px -15px rgba(0,0,0,0.75)
	box-shadow: 0px 5px 40px -15px rgba(0,0,0,0.75)


.tab-content
	margin-top: 3rem
	display: none

.tab-content.current
	display: inherit

.books-main .tab-content .books-item
	display: flex
	margin-bottom: 2.5rem
	@media (max-width: 700px)
		flex-direction: column
		align-items: center
		text-align: center
	.books-img
		height: 260px
		max-width: 200px
		width: 100%
		img
			width: 100%
			height: 100%
	.books-content
		padding-left: 3rem
		display: flex
		flex-direction: column
		justify-content: space-between
		@media (max-width: 700px)
			padding-left: 0
			padding-top: 2rem
			align-items: center
		p
			color: #7b7b7b
			font-size: 16px
			font-family: $mr
			span
				color: #000
				font-size: 18px
				font-family: $mm
		.about-book
			h5
				font-size: 16px
				font-family: $mm
				color: #000
				margin-bottom: 5px
			p
				font-size: 16px
				font-family: $mr
				color: #000
		.more-btn
			display: flex
			flex-direction: column
			justify-content: center
			background: #00a3d3
			color: #fff
			text-align: center
			max-width: 200px
			width: 100%
			height: 45px
			border: 1px solid #00a3d3
			border-radius: 10px
			&:hover
				transition: .3s ease-in-out
				background: #fff
				color: #00a3d3
				text-decoration: none


/* END BOOKS STYLES */


/* books inner */
.books-inner-content
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.books-inner-title
	text-align: center
	font-family: $manRegular
	font-size: 24px
	margin: 30px 0

.books-inner-left
	max-width: 270px
	width: 100%
	img
		width: 100%
		box-shadow: 0px 5px 8.73px 0.27px rgba(0, 0, 0, 0.33)

.books-inner-right
	margin-left: 30px
	h4
		font-family: $mr
		font-size: 22px
	h5
		font-family: $mm
		font-size: 16px
		color: #7b7b7b
		margin: 0
	h6
		margin-bottom: 35px
	p
		font-family: $mr
		font-size: 16px
	h3
		font-family: $mm
		font-size: 18px
		color: #000
		margin-top: 40px
	span
		color: $blue
		text-transform: uppercase

.pay-books
	h3
		margin: 40px 0 20px 0
	input
		margin-bottom: 20px
		border: 1px solid #b8b8b8
		border-radius: 10px
		outline: none
	[type="text"]
		height: 44px
		max-width: 300px
		width: 100%
		padding: 0 20px
		font-family: $mm
		font-size: 16px
	[type="checkbox"]
		width: 23px
		height: 23px
		border-radius: 5px
		background-color: none
		margin: 0
		vertical-align: middle
		cursor: pointer
		background-color: none
	label
		margin: 0
		font-family: $mr
		font-size: 13px
		color: #939393
		margin-left: 15px
	h6
		margin-bottom: 15px
	span
		margin-left: 20px
		color: #b8b8b8
		font-family: $mm
		font-size: 13px

.check-books-form-pay
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin-top: 18px

.check-books-form-pay-left
	h6
		font-family: $mm
		font-size: 16px
		vertical-align: middle
		margin-top: 10px

.check-books-form-pay-right
	margin-left: 41px
	button
		display: block
	select
		height: 44px
		max-width: 365px
		border: 1px solid #b8b8b8
		width: 100%
		padding: 0 30px 0 5px
		margin-bottom: 27px
		font-family: $mm
		font-size: 16px
		border-radius: 5px
		color: #3a3a3a
		outline: none
		appearance: none
		background-image: url('../images/select-arrow-down.png')
		background-position: 97% center
		background-repeat: no-repeat
	button
		background-color: $blue
		border: none
		width: 136px
		height: 45px
		color: #fff
		cursor: pointer
		border-radius: 10px
		outline: none
/* end books inner */ 


/* COLLECTION STYLES */
.middle-title h3
	text-align: center
	font-size: 24px
	color: #000
	font-family: $manRegular
	margin-bottom: 0
	padding: 2.5rem 0

.collection-wrapper
	display: flex
	flex-wrap: wrap
	justify-content: space-between

.collection-item
	display: block
	max-width: 258px
	width: 100%
	text-decoration: none !important
	padding-bottom: 1rem
	margin-bottom: 1.5rem
	border: 2px solid #fff
	p
		font-size: 16px
		font-family: $mm
		margin-bottom: 0
		padding-top: 1rem
		padding-bottom: 0.5rem
		color: #000
	span
		color: #7d7e7e
		font-family: $mr
		font-size: 13px
	&:hover
		transition: .4s ease-in-out
		border-bottom: 2px solid #000
	@media (max-width: 800px)
		width: 48%
		max-width: none
	@media (max-width: 480px)
		width: 100%

.collection-img
	background-color: #cdcdcd
	img
		width: 100%
		height: 100%

.cska-pagination
	padding: 2rem 0
	ul
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		max-width: 560px
		width: 100%
		margin: 0 auto
		padding-left: 0
	li
		list-style: none
		a
			font-family: $manMedium
			color: #000
			font-size: 15px
		a:hover
			color: #5ca2d0
			text-decoration: none
	li.active
		a
			text-decoration: underline
			color: #5ca2d0

.return-main-page
	display: block
	font-family: $manRegular
	font-size: 12px
	margin: 2rem 0
	padding-left: 2rem
	position: relative
	color: #9b9b9b !important
	&::before
		position: absolute
		content: url("../images/main-arrow.png")
		left: 0
		top: 2px

/* END COLLECTION STYLES */


/* Grant projects Styles */

.grant-projects
	display: flex
	justify-content: center
	@media (max-width: 480px)
		flex-direction: column

.grant-projects .project-item
	max-width: 400px
	width: 100%
	max-height: 405px
	margin: 0 35px
	img
		max-height: 245px
		width: 100%
	@media (max-width: 480px)
		margin: 0 0 2rem 0

.project-content
	padding: 1rem 2rem
	border: 1px solid #b8b8b8
	h4
		margin-bottom: 0
		font-size: 16px
		font-family: $mm
	p
		margin-bottom: 0
		font-size: 16px
		font-family: $mr
		font-weight: lighter
		margin-top: 10px
		max-height: 96px
		overflow: hidden
		white-space: pre-wrap

/* END Grant projects STYLES */


/* Vacancy Styles */
.vacancy-item
	padding-left: 1.5rem
	border-left: 3px solid #5ca2d0
	margin-bottom: 2rem
	h3
		font-family: $mr
		font-size: 18px
		margin-bottom: 10px
	p
		font-family: $mr
		font-size: 15px
		margin-bottom: 10px
	.price
		p
			font-family: $mr
			font-size: 16px
			span
				font-size: 18px
				color: #5ca2d0
	ul
		padding-left: 0
		margin-bottom: 0
		display: flex
		li
			margin: 0 0.75rem
			padding: 0 0.75rem
			font-size: 13px
			color: #5ca2d0
			a
				color: #000 !important
			&:first-child
				list-style-image: url("../images/location.png")
		@media (max-width: 480px)
			flex-direction: column

/* END Vacancy Styles  */


/* organitation structure */
.org-structure-wrap
	background-image: url('../images/org-structure-bg.jpg')
	height: 288px

.org-structure-title
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: center
	height: 100%
	h2
		font-family: $mr
		font-size: 32px
		color: #fff

.org-structure-content
	padding: 50px 0

.table-accordeon-content
	table
		width: 100%

.table-administration
	table
		margin-top: 10px
		th
			font-family: $mr
			font-size: 15px
			border: 1px solid #555555
			padding: 25px
			border-radius: 3px
			color: #555555
			a
				text-decoration: none
				border-bottom: 1px solid
				color: $blue

.table-administration-link
	display: block
	background-image: url('../images/accordeon-arrow.png')
	background-position: left 5px
	background-repeat: no-repeat
	padding-left: 20px
	font-family: $mr
	font-size: 15px
	color: #000

.table-department-science
	a
		display: block
		background-image: url('../images/accordeon-arrow.png')
		background-position: left 5px
		background-repeat: no-repeat
		padding-left: 20px
		font-family: $mr
		font-size: 15px
		color: #000
		margin: 40px 0 10px 0

.table-department-content
	border: 1px solid #555555
	padding: 25px
	font-family: $mm
	font-size: 15px
	color: #555555
	h4
		display: inline-block
		font-family: $mm
		font-size: 15px
		color: #555555
	span
		font-family: $mm
		font-size: 15px
		color: $blue
		border-bottom: 1px solid
		margin-left: 87px

.table-department-external
	a
		display: block
		background-image: url('../images/accordeon-arrow.png')
		background-position: left 5px
		background-repeat: no-repeat
		padding-left: 20px
		font-family: $mr
		font-size: 15px
		color: #000
		margin: 40px 0 10px 0


.table-department-conf
	margin-bottom: 20px
	a
		display: block
		background-image: url('../images/accordeon-arrow.png')
		background-position: left 5px
		background-repeat: no-repeat
		padding-left: 20px
		font-family: $mr
		font-size: 15px
		color: #000
		margin: 40px 0 10px 0
/* end organitation structure */


/* organitation structure */
.ex-structure-wrap
	background-image: url('../images/structure-bg.jpg')
	height: 288px

.ex-structure-content 
	.table-administration 
		.table-accordeon
			p
				margin-left: 30px
				color: #656565
				font-family: $mr
				font-size: 15px

.ex-structure-title
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	justify-content: center
	height: 100%
	h2
		font-family: $mr
		font-size: 32px
		color: #fff

.ex-structure-content
	padding: 50px 0

.table-accordeon-content
	table
		width: 100%

.table-administration
	table
		margin-top: 10px
		th
			font-family: $mr
			font-size: 15px
			border: 1px solid #555555
			padding: 25px
			border-radius: 3px
			color: #555555
			a
				text-decoration: none
				border-bottom: 1px solid
				color: $blue

.table-administration-link
	display: block
	background-image: url('../images/accordeon-arrow.png')
	background-position: left 5px
	background-repeat: no-repeat
	padding-left: 20px
	font-family: $mr
	font-size: 15px
	color: #000

.table-department-science
	a
		display: block
		background-image: url('../images/accordeon-arrow.png')
		background-position: left 5px
		background-repeat: no-repeat
		padding-left: 20px
		font-family: $mr
		font-size: 15px
		color: #000
		margin: 40px 0 10px 0

.table-department-content
	border: 1px solid #555555
	padding: 25px
	font-family: $mm
	font-size: 15px
	color: #555555
	h4
		display: inline-block
		font-family: $mm
		font-size: 15px
		color: #555555
	span
		font-family: $mm
		font-size: 15px
		color: $blue
		border-bottom: 1px solid
		margin-left: 87px

.table-department-external
	a
		display: block
		background-image: url('../images/accordeon-arrow.png')
		background-position: left 5px
		background-repeat: no-repeat
		padding-left: 20px
		font-family: $mr
		font-size: 15px
		color: #000
		margin: 40px 0 10px 0


.table-department-conf
	margin-bottom: 20px
	a
		display: block
		background-image: url('../images/accordeon-arrow.png')
		background-position: left 5px
		background-repeat: no-repeat
		padding-left: 20px
		font-family: $mr
		font-size: 15px
		color: #000
		margin: 40px 0 10px 0
/* end organitation structure */


/* conference main */
.conference-title
	text-align: center
	h2
		font-family: $mr
		font-size: 24px
		margin: 40px auto
		max-width: 730px
		width: 100%


.conference-left
	width: 400px
	float: left

.conference-right
	font-family: Arial
	font-weight: 400
	font-size: 15px

.conference-top
	width: 370px
	img
		max-width: 370px
		width: 100%

.conference-bottom
	margin: 25px 0
	img
		max-width: 70px
		width: 100%
		max-height: 70px
		height: 100%

.bx-viewport
	height: 100% !important

.bx-wrapper
	margin-bottom: 5px

.bx-wrapper .bx-controls-direction a
	margin-top: -6px

.conference-bottom-slide
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-around
	width: 370px
/* end conference main */



/* gallery */
.gallery-wrap
	margin-bottom: 48px
	position: relative

.gallery-title
	margin-bottom: 40px
	h2
		text-align: center

.gallery-item
	font-size: 0
	text-align: center
	position: relative
	img
		width: 255px
		height: auto
	a
		overflow: hidden
		position: relative
		display: inline-block

.gallery-arrows
	max-width: 1021px
	width: 100%
	position: absolute
	top: 38%
	left: 50%
	transform: translate(-50%)
	z-index: 999
	a
		&:first-child
			position: absolute
			left: -30px
		&:last-child
			position: absolute
			right: -30px



.gallery-zoom
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	position: absolute
	align-items: center
	justify-content: center
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, .6)
	opacity: 0
	transform: scale(0)
	transition: 0.3s ease
	img
		width: 38px
		height: 38px

.gallery-item
	a
		&:hover
			.gallery-zoom
				opacity: 1
				transform: scale(1)

.mb-45
	margin-bottom: 45px

.cska-pagination
	padding: 2rem 0
	ul
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		max-width: 560px
		width: 100%
		margin: 0 auto
		padding-left: 0
	li
		list-style: none
		a
			font-family: $manMedium
			color: #000
			font-size: 15px
		a:hover
			color: #5ca2d0
			text-decoration: none
	li.active
		a
			text-decoration: underline
			color: #5ca2d0
/* end gallery */

/* price list */
.price-list-title
	text-align: center
	font-family: arial
	width: 585px
	margin: 0 auto
	margin-bottom: 40px
	h2
		font-size: 24px
	p
		font-size: 16px

.price-list-content
	table
		th, 
		td
			border: 1px solid #555555
			padding: 20px 30px
			vertical-align: top
			font-family: Arial
			font-weight: 400
		th
			background-color: #00a3d3
			color: #fff
		tr
			ul
				li
					color: #00a3d3
					span
						color: #000


/* end price list */ 


/* footer */
.footer-top
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	padding: 40px 0
	justify-content: space-between
	ul
		padding: 0
		li
			font-family: $mr
			font-size: 16px
			list-style-type: none
			line-height: 30px
			width: 191px
			a
				color: #fff
.footer-top-wrap
	background-color: #2b2d34

.footer-links
	margin: 0

.footer-contacts
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	width: 280px
	color: #fff
	font-family: $mr
	font-size: 15px
	img
		margin-right: 15px

.footer-phone,
.footer-message
	margin-bottom: 20px


.footer-bottom-wrap
	background-color: #1e2026
	color: #fff

.developed-by
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	transition: 0.3s ease
	&:hover
		transform: scale(1.1)

.footer-bottom
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	padding: 20px 0
	&-copyright
		width: 680px
		font-family: $mr
		font-size: 13px
		p
			margin: 0
	&-social
		a
			margin-right: 20px
			&:hover
				img
					transition: 0.3s ease
					transform: rotate(360deg)
/* end footer */