@font-face {
  src: url("../fonts/MullerRegular/MullerRegular.otf");
  font-family: 'muller-regular';
  font-weight: 400; }

@font-face {
  src: url("../fonts/MullerMedium/Muller-Medium.otf");
  font-family: 'muller-medium'; }

@font-face {
  src: url("../fonts/Manrope/regular.otf");
  src: url("../fonts/Manrope/regular.ttf");
  font-family: 'Manrope-Regular'; }

@font-face {
  src: url("../fonts/Manrope/medium.otf");
  src: url("../fonts/Manrope/medium.ttf");
  font-family: 'Manrope-Medium'; }

.container {
  max-width: 1170px !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important; }

input, textarea{
  outline: none !important;
}


/* preloadoer */
html, body {
  height: 100%;
}
#cube-loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
}
#cube-loader .caption {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
#cube-loader .cube-loader {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
}
#cube-loader .cube-loader .cube {
  position: relative;
  transform: rotateZ(45deg);
  width: 50%;
  height: 50%;
  float: left;
  transform: scale(1.1);
}
#cube-loader .cube-loader .cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 73, 94, 1.0);
  animation: cube-loader 2.76s infinite linear both;
  transform-origin: 100% 100%;
}
#cube-loader .cube-loader .loader-2 {
  transform: scale(1.1) rotateZ(90deg);
}
#cube-loader .cube-loader .loader-3 {
  transform: scale(1.1) rotateZ(180deg);
}
#cube-loader .cube-loader .loader-4 {
  transform: scale(1.1) rotateZ(270deg);
}
#cube-loader .cube-loader .loader-2:before {
  animation-delay: 0.35s;
}
#cube-loader .cube-loader .loader-3:before {
  animation-delay: 0.69s;
}
#cube-loader .cube-loader .loader-4:before {
  animation-delay: 1.04s;
}
@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
/* end preloadoer */


/* online pay */
.online-pay {
  background-color: #008db7;
  width: 220px;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 350px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }
  .online-pay ul {
    padding: 0;
    margin: 0; }
    .online-pay ul li {
      list-style-type: none;
      border-bottom: 1px solid #73bcd2;
      font-family: "muller-regular";
      font-size: 15px;
      padding: 0; }
      .online-pay ul li:last-child {
        margin-bottom: 0;
        border: none; }
      .online-pay ul li a {
        text-decoration: none;
        display: block;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        color: #fff;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease; }
        .online-pay ul li a:hover {
          background-color: #fff;
          color: #008db7; }

.online-pay-btn {
  background-color: #00a3d3;
  display: block;
  padding: 10px 20px;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  font-family: "muller-regular";
  font-size: 17px;
  color: #fff; }
  .online-pay-btn:hover {
    text-decoration: none;
    color: #fff; }

.online-pay button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* end online pay */
/* header */
.header-top {
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-items-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header-items {
  font-family: "muller-regular";
  margin-right: 75px; }

/* LANGS */
.dropdown-menu {
  z-index: 2000 !important;
}

/* END LANGS */
.header-phone {
  background-image: url("../images/main-phone.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 30px; }

.header-message {
  background-image: url("../images/main-message.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px; }

.header-location {
  background-image: url("../images/main-location.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px; }

.header-menu {
  background-color: #2b2d34; }

.hamburger-menu-btn {
  padding: 5px 20px;
  display: none; }
  .hamburger-menu-btn img {
    width: 40px;
    height: 40px; }
  .hamburger-menu-btn a {
    width: 100%;
    display: block; }

/* mobile menu */
.mobile-menu {
  display: none;
  position: relative; }
  .mobile-menu ul {
    margin: 0;
    padding: 0; }
    .mobile-menu ul li {
      list-style: none;
      font-family: "muller-medium";
      position: relative;
      line-height: 2; }
      .mobile-menu ul li:last-child {
        border: none; }
      .mobile-menu ul li a {
        border-bottom: 1px solid #7d7f83;
        color: #fff;
        padding: 20px;
        text-decoration: none;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        display: block; }
        .mobile-menu ul li a:hover {
          background-color: #1d2025; }

.mobile-submenu {
  padding-left: 30px !important;
  display: none; }

.mobile-submenu-sub {
  padding-left: 30px !important;
  display: none; }

.submenu-arrow {
  background-image: url('../images/submenu-arrow.png');
  background-position: 90% center;
  background-repeat: no-repeat;
}
/* end mobile menu */


/* desktop menu */
.menu {
  position: relative; }
  .menu ul {
    margin: 0;
    padding: 0; }
    .menu ul li {
      list-style: none;
      font-family: "muller-medium";
      border-right: 1px solid #7d7f83;
      text-align: center;
      position: relative; }
      .menu ul li:last-child {
        border: none; }
      .menu ul li a {
        color: #fff;
        padding: 20px;
        text-decoration: none;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease; }
        .menu ul li a:hover {
          background-color: #1d2025; }

.sf-menu {
  float: none !important;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .sf-menu > li {
    float: none;
    display: inline-block;
    background: none;
    width: 100%; }
    .sf-menu > li a {
      border: none;
      background: none; }

.submenu {
  background-color: #1d2025;
  width: 340px;
  z-index: 999; }
  .submenu li {
    text-align: left !important;
    border: none !important;
    line-height: 1; }
    .submenu li a:hover {
      background-color: #2b2d34 !important;
      padding: 30px; }
  .submenu-sub {
    z-index: 99;
    left: 340px;
    top: 0;
    background-color: #1d2025;
    width: 340px; }
    .submenu-sub li {
      text-align: left !important;
      border: none !important;
      line-height: 1; }
      .submenu-sub li a:hover {
        background-color: #2b2d34 !important;
        padding: 30px; }
/*end desktop menu*/

/* end header */


/* main */
.main-left {
  max-width: 445px;
  width: 100%;
  padding: 132px 0;
  float: right;
  position: relative; }
  .main-left h1 {
    font-family: "muller-regular";
    font-size: 42px;
    color: #000; }
  .main-left ul {
    padding: 0;
    margin-top: 40px; }
    .main-left ul li {
      list-style-type: none;
      text-transform: uppercase;
      line-height: 20px; }
      .main-left ul li a {
        color: #000;
        font-family: "muller-regular";
        font-size: 12px;
        text-decoration: none; }
        .main-left ul li a:after {
          content: '';
          display: block;
          background-color: #000;
          height: 1px;
          width: 100px;
          margin-bottom: 15px;
          width: 0;
          -webkit-transition: 0.2s ease;
          -o-transition: 0.2s ease;
          transition: 0.2s ease; }
        .main-left ul li a:hover:after {
          width: 220px; }
  .main-left .container {
    max-width: 375px;
    width: 100%;
    float: right; }

.main-right {
  background-image: url("../images/main-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }

.main-about-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-about-center-left {
    position: relative;
    max-width: 410px;
    width: 100%;
    max-height: 285px;
    height: 100%;
    float: right;
    padding: 120px 0; }
    .main-about-center-left h2 {
      font-family: "muller-regular";
      font-size: 43px;
      color: #fff; }
    .main-about-center-left a {
      color: #98d600;
      font-family: "muller-regular";
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      background-image: url("../images/rectangle-right-link.png");
      background-position: right center;
      background-repeat: no-repeat;
      width: 122px;
      display: block; }
      .main-about-center-left a:after {
        content: '';
        display: block;
        background-color: #98d600;
        height: 1px;
        width: 100px;
        margin-bottom: 15px;
        width: 0;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease; }
      .main-about-center-left a:hover:after {
        width: 105px; }
  .main-about-center-left-bg {
    background-image: url("../images/main-center-left-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  .main-about-center-right {
    max-width: 720px;
    width: 100%;
    padding: 40px 30px;
    border-left: 4px solid #00a3d3; }
    .main-about-center-right:before {
      content: '';
      display: block;
      width: 4px;
      height: 94px;
      position: absolute;
      background-color: #98d600;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .main-about-center-right-container {
      padding: 40px 30px;
      height: 100%; }
    .main-about-center-right p {
      margin: 0; }
    .main-about-center-right-wrap {
      background-color: #f4f4f4; }

.main-activity-title {
  margin: 57px 0 45px 0;
  max-width: 411px;
  width: 100%;
  font-family: "muller-regular";
  font-size: 43px;
  color: #000; }

.main-activity-tabs {
  max-width: 411px;
  width: 100%; }
  .main-activity-tabs ul {
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .main-activity-tabs ul li {
      list-style-type: none;
      text-transform: uppercase;
      font-size: 12px;
      font-family: "muller-regular";
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      .main-activity-tabs ul li:hover {
        background-color: #f0f0f0;
        padding: 10px 12px;
        -webkit-border-radius: 10px;
                border-radius: 10px; }
      .main-activity-tabs ul li a {
        color: #000;
        text-decoration: none; }

.tab-active {
  background-color: #f0f0f0;
  padding: 10px 12px;
  -webkit-border-radius: 10px;
          border-radius: 10px; }
  .tab-active a {
    color: #00a3d3 !important; }

.main-activity-tabs-items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-activity-item {
  background-color: #f0f0f0;
  width: 270px;
  text-align: center;
  padding-bottom: 20px;
  margin-left: 20px; }
  .main-activity-item img {
    width: 100%; }
  .main-activity-item h4 {
    font-family: "muller-medium";
    font-size: 18px;
    color: #000;
    padding: 20px 0; }
  .main-activity-item a {
    font-family: "muller-regular";
    font-size: 13px;
    color: #fff;
    background-color: #00a3d3;
    display: block;
    width: 151px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
  .main-activity-item h3 {
    font-family: "muller-regular";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 14px 0; }
  .main-activity-item p {
    font-family: "muller-regular";
    font-size: 14px;
    text-align: left;
    margin-top: 22px;
    margin-right: 23px;
    margin-bottom: 0;
    margin-left: 23px; }

.main-recommended {
  background-color: #2b2d34;
  padding: 24px 16px;
  position: absolute;
  top: -128px; }
  .main-recommended h3 {
    font-family: "muller-regular";
    font-size: 16px;
    letter-spacing: 6px;
    color: #fff; }

.main-recommended-1 {
  background-image: url("../images/recomended-1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  margin-bottom: 20px; }

.main-recommended-2 {
  background-image: url("../images/recomended-2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  margin-bottom: 20px; }

.main-recommended-3 {
  background-image: url("../images/recomended-3.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.main-recommended-item {
  padding: 20px 0 15px 0; }
  .main-recommended-item span {
    background-color: #98d600;
    font-family: "muller-regular";
    font-size: 13px;
    padding: 10px;
    -webkit-border-top-right-radius: 10px;
            border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
            border-bottom-right-radius: 10px; }
  .main-recommended-item h5 {
    font-family: "muller-regular";
    font-size: 12px;
    color: #fff;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 65px;
    margin-left: 10px; }
  .main-recommended-item h4 {
    font-family: "muller-medium";
    font-size: 18px;
    color: #fff;
    margin-left: 10px; }

.tickets-wrap {
  background-image: url("../images/tickets-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: left center;
  color: #fff;
  margin: 67px 0; }

.tickets-left,
.tickets-right {
  margin: 125px 0; }

.tickets-left h2 {
  font-family: "muller-regular";
  font-size: 43px; }

.tickets-right p {
  font-family: "muller-regular";
  font-size: 14px; }

.main-news-flex {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.news-title {
  margin-bottom: 35px; }
  .news-title h2 {
    font-family: "muller-regular";
    font-size: 43px; }

.news-items-small {
  border: 1px solid #e6e6e6;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 225px; }
  .news-items-small img {
    width: 100%; }
  .news-items-small h5 {
    font-family: "muller-medium";
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px; }
  .news-items-small:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 8px 5.32px 1.68px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 8px 5.32px 1.68px rgba(0, 0, 0, 0.11); }
  .news-items-small span {
    font-family: "muller-regular";
    font-size: 13px;
    display: block;
    color: #393b3b;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; }

.news-items-big {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .news-items-big:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 8px 5.32px 1.68px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 8px 5.32px 1.68px rgba(0, 0, 0, 0.11); }

.news-items-big-content {
  border: 1px solid #e6e6e6;
  background-color: #fff;
  height: 420px; }
  .news-items-big-content img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
  .news-items-big-content h5 {
    font-family: "muller-medium";
    font-size: 18px;
    line-height: 30px;
    width: 290px;
    margin-bottom: 60px; }
  .news-items-big-content span {
    font-family: "muller-regular";
    font-size: 13px;
    display: block;
    color: #393b3b; }

.news-items-big-content-span {
  border: 1px solid #e6e6e6;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  padding: 23px; }

.news-text-items {
  margin-top: 55px;
  border-right: 1px solid #9eaf74;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .news-text-items:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 8px 5.32px 1.68px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 8px 5.32px 1.68px rgba(0, 0, 0, 0.11); }
  .news-text-items img {
    width: 100%; }
  .news-text-items h5 {
    font-family: "muller-medium";
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px; }
  .news-text-items span {
    font-family: "muller-regular";
    font-size: 13px;
    display: block;
    color: #393b3b;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; }

.news-text-items-1 {
  border-left: 1px solid #9eaf74; }

.main-contacts {
  margin-top: 70px; }

.contacts-right {
  background-color: #f4f4f4;
  height: 450px;
  width: 100%;
  padding-top: 55px;
  padding-left: 111px; }

.contacts-right-title h2 {
  font-family: "muller-regular";
  font-size: 43px;
  color: #000;
  margin-bottom: 40px; }

.contacts-inner-items {
  font-size: 18px;
  font-family: "muller-regular";
  margin-bottom: 25px; }
  .contacts-inner-items img {
    margin-right: 18px; }

.contacts-btn {
  margin-top: 50px; }
  .contacts-btn a {
    display: block;
    text-decoration: none;
    font-family: "muller-regular";
    font-size: 17px;
    border: 1px solid #000;
    color: #000;
    padding: 10px 0;
    width: 220px;
    text-align: center;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .contacts-btn a:hover {
      background-color: #000;
      color: #fff; }

/* end main */
/* bread crumbs */
.bread-crumbs ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  font-size: 12px;
  font-family: "muller-regular";
  margin: 30px 0; }
  .bread-crumbs ul li {
    list-style-type: none;
    margin-right: 5px;
    margin-left: 5px; }
    .bread-crumbs ul li a {
      color: #000; }

.bread-crumbs-active {
  color: #00a3d3 !important; }

/* end bread crumbs */
/* mandat */
.mandat-target-wrap {
  background-image: url("../images/mandat-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 290px; }

.h-100 {
  height: 100% !important; }

.mandat-target {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }
  .mandat-target h2 {
    font-family: "muller-regular";
    font-size: 30px;
    color: #fff; }

.mandat-content {
  margin: 50px 20px; }
  .mandat-content p {
    font-family: "muller-regular";
    font-size: 16px;
    color: #000; }
  .mandat-content h5 {
    font-family: "muller-medium";
    font-size: 16px;
    margin: 25px 0;
    color: #000; }
  .mandat-content ul {
    padding: 0;
    margin-left: 15px; }
    .mandat-content ul li {
      color: #00a3d3; }
      .mandat-content ul li span {
        color: #000;
        margin-left: 27px;
        font-family: "muller-regular";
        font-size: 16px; }
/* end mandat */
/* reports */
.reports-wrap {
  background-image: url("../images/reports-bg.jpg");
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  height: 286px;
  color: #fff; }

.reports-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }
  .reports-title h2 {
    font-family: "muller-regular";
    font-size: 30px; }

.report-document-wrap {
  margin: 42px 0;
  font-family: "muller-regular"; }

.report-document-item {
  background-color: #f8f8f8;
  padding: 25px;
  margin-bottom: 25px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .report-document-item:hover {
    -webkit-box-shadow: 0px 6px 7.52px 0.48px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 6px 7.52px 0.48px rgba(0, 0, 0, 0.07); }
  .report-document-item a {
    text-decoration: underline;
    font-size: 16px;
    color: #434343; }
    .report-document-item a:hover {
      color: #00a3d3; }
  .report-document-item img {
    margin-right: 26px; }

.back-main {
  margin: 20px 0; }
  .back-main a {
    color: #6d6d6d;
    font-family: "muller-regular";
    font-size: 12px; }
  .back-main img {
    margin-right: 10px; }

/* end reports */
/* souvenir main */
.souvenir-main-title {
  text-align: center;
  font-family: "muller-regular";
  font-size: 18px;
  margin: 30px 0; }

.souvenir-products-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0; }

.souvenir-products-left {
  max-width: 270px;
  width: 100%; }
  .souvenir-products-left img {
    width: 100%;
    -webkit-box-shadow: 0px 5px 8.73px 0.27px rgba(0, 0, 0, 0.33);
            box-shadow: 0px 5px 8.73px 0.27px rgba(0, 0, 0, 0.33); }

.souvenir-products-right {
  margin-left: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .souvenir-products-right h4 {
    font-family: "muller-regular";
    font-size: 22px; }
  .souvenir-products-right h5 {
    font-family: "muller-medium";
    font-size: 16; }
  .souvenir-products-right p {
    font-family: "muller-regular";
    font-size: 16px; }
  .souvenir-products-right a {
    display: block;
    text-decoration: none;
    background-color: #00a3d3;
    width: 200px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .souvenir-products-right a:hover {
      background-color: #000; }

/* end souvenir main */
/* souvenir inner */
.souvenir-inner-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.souvenir-inner-title {
  text-align: center;
  font-family: "Manrope-Regular";
  font-size: 24px;
  margin: 30px 0; }

.souvenir-inner-left {
  max-width: 270px;
  width: 100%; }
  .souvenir-inner-left img {
    width: 100%;
    -webkit-box-shadow: 0px 5px 8.73px 0.27px rgba(0, 0, 0, 0.33);
            box-shadow: 0px 5px 8.73px 0.27px rgba(0, 0, 0, 0.33); }

.souvenir-inner-right {
  margin-left: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .souvenir-inner-right h4 {
    font-family: "muller-regular";
    font-size: 22px; }
  .souvenir-inner-right h5 {
    font-family: "muller-medium";
    font-size: 16; }
  .souvenir-inner-right p {
    font-family: "muller-regular";
    font-size: 16px; }
  .souvenir-inner-right h3 {
    font-family: "muller-medium";
    font-size: 18px;
    color: #000; }
  .souvenir-inner-right span {
    color: #5ba1cd;
    text-transform: uppercase; }

.pay-souvenir h3 {
  margin: 40px 0 20px 0; }

.pay-souvenir input {
  margin-bottom: 20px;
  border: 1px solid #b8b8b8;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  outline: none; }

.pay-souvenir [type="text"] {
  height: 44px;
  max-width: 300px;
  width: 100%;
  padding: 0 20px;
  font-family: "muller-medium";
  font-size: 16px; }

.pay-souvenir [type="checkbox"] {
  width: 23px;
  height: 23px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: none;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: none; }

.pay-souvenir label {
  margin: 0;
  font-family: "muller-regular";
  font-size: 13px;
  color: #939393;
  margin-left: 15px; }

.pay-souvenir h6 {
  margin-bottom: 15px; }

.pay-souvenir span {
  margin-left: 20px;
  color: #b8b8b8;
  font-family: "muller-medium";
  font-size: 13px; }

.check-form-pay {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px; }

.check-form-pay-left h6 {
  font-family: "muller-medium";
  font-size: 16px;
  vertical-align: middle;
  margin-top: 10px; }

.check-form-pay-right {
  margin-left: 41px; }
  .check-form-pay-right button {
    display: block; }
  .check-form-pay-right select {
    height: 44px;
    max-width: 365px;
    border: 1px solid #b8b8b8;
    width: 100%;
    padding: 0 30px 0 5px;
    margin-bottom: 27px;
    font-family: "muller-medium";
    font-size: 16px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #3a3a3a;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url("../images/select-arrow-down.png");
    background-position: 97% center;
    background-repeat: no-repeat; }
  .check-form-pay-right button {
    background-color: #5ba1cd;
    border: none;
    width: 136px;
    height: 45px;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    outline: none; }

/* end souvenir inner */
/* BOOKS STYLES */
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

ul.tabs li {
  background: none;
  color: #000;
  font-size: 18px;
  font-family: "muller-regular";
  display: inline-block;
  padding: 5px 15px;
  margin: 0 0.5rem;
  cursor: pointer;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

ul.tabs li.current {
  background: #fff;
  color: #5ca2d0;
  -webkit-box-shadow: 0px 5px 40px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 40px -15px rgba(0, 0, 0, 0.75); }

.tab-content {
  margin-top: 3rem;
  display: none; }

.tab-content.current {
  display: inherit; }

.books-main .tab-content .books-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem; }
  @media (max-width: 700px) {
    .books-main .tab-content .books-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; } }
  .books-main .tab-content .books-item .books-img {
    height: 260px;
    max-width: 200px;
    width: 100%; }
    .books-main .tab-content .books-item .books-img img {
      width: 100%;
      height: 100%; }
  .books-main .tab-content .books-item .books-content {
    padding-left: 3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 700px) {
      .books-main .tab-content .books-item .books-content {
        padding-left: 0;
        padding-top: 2rem;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .books-main .tab-content .books-item .books-content p {
      color: #7b7b7b;
      font-size: 16px;
      font-family: "muller-regular"; }
      .books-main .tab-content .books-item .books-content p span {
        color: #000;
        font-size: 18px;
        font-family: "muller-medium"; }
    .books-main .tab-content .books-item .books-content .about-book h5 {
      font-size: 16px;
      font-family: "muller-medium";
      color: #000;
      margin-bottom: 5px; }
    .books-main .tab-content .books-item .books-content .about-book p {
      font-size: 16px;
      font-family: "muller-regular";
      color: #000; }
    .books-main .tab-content .books-item .books-content .more-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: #00a3d3;
      color: #fff;
      text-align: center;
      max-width: 200px;
      width: 100%;
      height: 45px;
      border: 1px solid #00a3d3;
      -webkit-border-radius: 10px;
              border-radius: 10px; }
      .books-main .tab-content .books-item .books-content .more-btn:hover {
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        background: #fff;
        color: #00a3d3;
        text-decoration: none; }

/* END BOOKS STYLES */
/* books inner */
.books-inner-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.books-inner-title {
  text-align: center;
  font-family: "Manrope-Regular";
  font-size: 24px;
  margin: 30px 0; }

.books-inner-left {
  max-width: 270px;
  width: 100%; }
  .books-inner-left img {
    width: 100%;
    -webkit-box-shadow: 0px 5px 8.73px 0.27px rgba(0, 0, 0, 0.33);
            box-shadow: 0px 5px 8.73px 0.27px rgba(0, 0, 0, 0.33); }

.books-inner-right {
  margin-left: 30px; }
  .books-inner-right h4 {
    font-family: "muller-regular";
    font-size: 22px; }
  .books-inner-right h5 {
    font-family: "muller-medium";
    font-size: 16px;
    color: #7b7b7b;
    margin: 0; }
  .books-inner-right h6 {
    margin-bottom: 35px; }
  .books-inner-right p {
    font-family: "muller-regular";
    font-size: 16px; }
  .books-inner-right h3 {
    font-family: "muller-medium";
    font-size: 18px;
    color: #000;
    margin-top: 40px; }
  .books-inner-right span {
    color: #5ba1cd;
    text-transform: uppercase; }

.pay-books h3 {
  margin: 40px 0 20px 0; }

.pay-books input {
  margin-bottom: 20px;
  border: 1px solid #b8b8b8;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  outline: none; }

.pay-books [type="text"] {
  height: 44px;
  max-width: 300px;
  width: 100%;
  padding: 0 20px;
  font-family: "muller-medium";
  font-size: 16px; }

.pay-books [type="checkbox"] {
  width: 23px;
  height: 23px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: none;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: none; }

.pay-books label {
  margin: 0;
  font-family: "muller-regular";
  font-size: 13px;
  color: #939393;
  margin-left: 15px; }

.pay-books h6 {
  margin-bottom: 15px; }

.pay-books span {
  margin-left: 20px;
  color: #b8b8b8;
  font-family: "muller-medium";
  font-size: 13px; }

.check-books-form-pay {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px; }

.check-books-form-pay-left h6 {
  font-family: "muller-medium";
  font-size: 16px;
  vertical-align: middle;
  margin-top: 10px; }

.check-books-form-pay-right {
  margin-left: 41px; }
  .check-books-form-pay-right button {
    display: block; }
  .check-books-form-pay-right select {
    height: 44px;
    max-width: 365px;
    border: 1px solid #b8b8b8;
    width: 100%;
    padding: 0 30px 0 5px;
    margin-bottom: 27px;
    font-family: "muller-medium";
    font-size: 16px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #3a3a3a;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url("../images/select-arrow-down.png");
    background-position: 97% center;
    background-repeat: no-repeat; }
  .check-books-form-pay-right button {
    background-color: #5ba1cd;
    border: none;
    width: 136px;
    height: 45px;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    outline: none; }

/* end books inner */
/* COLLECTION STYLES */
.middle-title h3 {
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: "Manrope-Regular";
  margin-bottom: 0;
  padding: 2.5rem 0; }

.collection-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.collection-item {
  display: block;
  max-width: 258px;
  width: 100%;
  text-decoration: none !important;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border: 2px solid #fff; }
  .collection-item p {
    font-size: 16px;
    font-family: "muller-medium";
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #000; }
  .collection-item span {
    color: #7d7e7e;
    font-family: "muller-regular";
    font-size: 13px; }
  .collection-item:hover {
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    border-bottom: 2px solid #000; }
  @media (max-width: 800px) {
    .collection-item {
      width: 48%;
      max-width: none; } }
  @media (max-width: 480px) {
    .collection-item {
      width: 100%; } }

.collection-img {
  background-color: #cdcdcd; }
  .collection-img img {
    width: 100%;
    height: 100%; }

.cska-pagination {
  padding: 2rem 0; }
  .cska-pagination ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0; }
  .cska-pagination li {
    list-style: none; }
    .cska-pagination li a {
      font-family: "Manrope-Medium";
      color: #000;
      font-size: 15px; }
    .cska-pagination li a:hover {
      color: #5ca2d0;
      text-decoration: none; }
  .cska-pagination li.active a {
    text-decoration: underline;
    color: #5ca2d0; }

.return-main-page {
  display: block;
  font-family: "Manrope-Regular";
  font-size: 12px;
  margin: 2rem 0;
  padding-left: 2rem;
  position: relative;
  color: #9b9b9b !important; }
  .return-main-page::before {
    position: absolute;
    content: url("../images/main-arrow.png");
    left: 0;
    top: 2px; }

/* END COLLECTION STYLES */
/* Grant projects Styles */
.grant-projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 480px) {
    .grant-projects {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.grant-projects .project-item {
  max-width: 400px;
  width: 100%;
  max-height: 405px;
  margin: 0 35px; }
  .grant-projects .project-item img {
    max-height: 245px;
    width: 100%; }
  @media (max-width: 480px) {
    .grant-projects .project-item {
      margin: 0 0 2rem 0; } }

.project-content {
  padding: 1rem 2rem;
  border: 1px solid #b8b8b8; }
  .project-content a {
    margin-bottom: 0;
    font-size: 16px;
    font-family: "muller-medium";
    color: #000; }
  .project-content p {
    margin-bottom: 0;
    font-size: 16px;
    font-family: "muller-regular";
    font-weight: lighter;
    margin-top: 10px;
    max-height: 96px;
    overflow: hidden;
    white-space: pre-wrap; }

/* END Grant projects STYLES */
/* Vacancy Styles */
.vacancy-item {
  padding-left: 1.5rem;
  border-left: 3px solid #5ca2d0;
  margin-bottom: 2rem; }
  .vacancy-item h3 {
    font-family: "muller-regular";
    font-size: 18px;
    margin-bottom: 10px; }
  .vacancy-item p {
    font-family: "muller-regular";
    font-size: 15px;
    margin-bottom: 10px; }
  .vacancy-item .price p {
    font-family: "muller-regular";
    font-size: 16px; }
    .vacancy-item .price p span {
      font-size: 18px;
      color: #5ca2d0; }
  .vacancy-item ul {
    padding-left: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .vacancy-item ul li {
      margin: 0 0.75rem;
      padding: 0 0.75rem;
      font-size: 13px;
      color: #5ca2d0; }
      .vacancy-item ul li a {
        color: #000 !important; }
      .vacancy-item ul li:first-child {
        list-style-image: url("../images/location.png"); }
    @media (max-width: 480px) {
      .vacancy-item ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }

/* END Vacancy Styles  */
/* organitation structure */
.org-structure-wrap {
  background-image: url("../images/org-structure-bg.jpg");
  height: 288px; }

.org-structure-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }
  .org-structure-title h2 {
    font-family: "muller-regular";
    font-size: 32px;
    color: #fff; }

.org-structure-content {
  padding: 50px 0; }

.table-accordeon-content table {
  width: 100%; }

.table-administration table {
  margin-top: 10px; }
  .table-administration table th {
    font-family: "muller-regular";
    font-size: 15px;
    border: 1px solid #555555;
    padding: 25px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: #555555; }
    .table-administration table th a {
      text-decoration: none;
      border-bottom: 1px solid;
      color: #5ba1cd; }

.table-administration-link {
  display: block;
  background-image: url("../images/accordeon-arrow.png");
  background-position: left 5px;
  background-repeat: no-repeat;
  padding-left: 20px;
  font-family: "muller-regular";
  font-size: 15px;
  color: #000; }

.table-department-science a {
  display: block;
  background-image: url("../images/accordeon-arrow.png");
  background-position: left 5px;
  background-repeat: no-repeat;
  padding-left: 20px;
  font-family: "muller-regular";
  font-size: 15px;
  color: #000;
  margin: 40px 0 10px 0; }

.table-department-content {
  border: 1px solid #555555;
  padding: 25px;
  font-family: "muller-medium";
  font-size: 15px;
  color: #555555; }
  .table-department-content h4 {
    display: inline-block;
    font-family: "muller-medium";
    font-size: 15px;
    color: #555555; }
  .table-department-content span {
    font-family: "muller-medium";
    font-size: 15px;
    color: #5ba1cd;
    border-bottom: 1px solid;
    margin-left: 87px; }

.table-department-external a {
  display: block;
  background-image: url("../images/accordeon-arrow.png");
  background-position: left 5px;
  background-repeat: no-repeat;
  padding-left: 20px;
  font-family: "muller-regular";
  font-size: 15px;
  color: #000;
  margin: 40px 0 10px 0; }

.table-department-conf {
  margin-bottom: 20px; }
  .table-department-conf a {
    display: block;
    background-image: url("../images/accordeon-arrow.png");
    background-position: left 5px;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-family: "muller-regular";
    font-size: 15px;
    color: #000;
    margin: 40px 0 10px 0; }

/* end organitation structure */
/* organitation structure */
.ex-structure-wrap {
  background-image: url("../images/structure-bg.jpg");
  height: 288px; }

.ex-structure-content .table-administration .table-accordeon p {
  margin-left: 30px;
  color: #656565;
  font-family: "muller-regular";
  font-size: 15px; }

.ex-structure-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }
  .ex-structure-title h2 {
    font-family: "muller-regular";
    font-size: 32px;
    color: #fff; }

.ex-structure-content {
  padding: 50px 0; }

.table-accordeon-content table {
  width: 100%; }

.table-administration table {
  margin-top: 10px; }
  .table-administration table th {
    font-family: "muller-regular";
    font-size: 15px;
    border: 1px solid #555555;
    padding: 25px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: #555555; }
    .table-administration table th a {
      text-decoration: none;
      border-bottom: 1px solid;
      color: #5ba1cd; }

.table-administration-link {
  display: block;
  background-image: url("../images/accordeon-arrow.png");
  background-position: left 5px;
  background-repeat: no-repeat;
  padding-left: 20px;
  font-family: "muller-regular";
  font-size: 15px;
  color: #000; }

.table-department-science a {
  display: block;
  background-image: url("../images/accordeon-arrow.png");
  background-position: left 5px;
  background-repeat: no-repeat;
  padding-left: 20px;
  font-family: "muller-regular";
  font-size: 15px;
  color: #000;
  margin: 40px 0 10px 0; }

.table-department-content {
  border: 1px solid #555555;
  padding: 25px;
  font-family: "muller-medium";
  font-size: 15px;
  color: #555555; }
  .table-department-content h4 {
    display: inline-block;
    font-family: "muller-medium";
    font-size: 15px;
    color: #555555; }
  .table-department-content span {
    font-family: "muller-medium";
    font-size: 15px;
    color: #5ba1cd;
    border-bottom: 1px solid;
    margin-left: 87px; }

.table-department-external a {
  display: block;
  background-image: url("../images/accordeon-arrow.png");
  background-position: left 5px;
  background-repeat: no-repeat;
  padding-left: 20px;
  font-family: "muller-regular";
  font-size: 15px;
  color: #000;
  margin: 40px 0 10px 0; }

.table-department-conf {
  margin-bottom: 20px; }
  .table-department-conf a {
    display: block;
    background-image: url("../images/accordeon-arrow.png");
    background-position: left 5px;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-family: "muller-regular";
    font-size: 15px;
    color: #000;
    margin: 40px 0 10px 0; }

/* end organitation structure */
/* conference main */
.conference-title {
  text-align: center; }
  .conference-title h2 {
    font-family: "muller-regular";
    font-size: 24px;
    margin: 40px auto;
    max-width: 730px;
    width: 100%; }



#carousel {
  width:800px;
  height: 300px;
  display: relative;
  margin: 0 auto;
}

#carousel img {
  display: hidden; /* hide images until carousel prepares them */
  cursor: pointer; /* not needed if you wrap carousel items in links */
  width: 400px;
}

.conference-text {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  text-align: justify; }

.conference-top {
  width: 370px; }
  .conference-top img {
    max-width: 370px;
    width: 100%; }

.conference-bottom {
  margin: 25px 0; }
  .conference-bottom img {
    max-width: 70px;
    width: 100%;
    max-height: 70px;
    height: 100%; }

.bx-viewport {
  height: 100% !important; }

.conference-left .bx-wrapper {
  margin-bottom: 5px;
  max-width: 370px !important;
  width: 100% !important; }

.conference-left {
	float: left;
	margin-right: 10px;
}

.bx-wrapper .bx-controls-direction a {
  margin-top: -6px; }

.conference-bottom-slide {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 370px; }

.bx-next {
  z-index: 0 !important;
}
.bx-prev {
  z-index: 0 !important;
}


/* end conference main */
/* gallery */
.gallery-wrap {
  margin-bottom: 48px;
  position: relative; }

.gallery-title {
  margin-bottom: 40px; }
  .gallery-title h2 {
    text-align: center; }

.gallery-item {
  font-size: 0;
  text-align: center;
  position: relative; }
  .gallery-item img {
    width: 255px;
    height: auto; }
  .gallery-item a {
    overflow: hidden;
    position: relative;
    display: inline-block; }

.gallery-arrows {
  max-width: 1021px;
  width: 100%;
  position: absolute;
  top: 38%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 999; }
  .gallery-arrows a:first-child {
    position: absolute;
    left: -30px; }
  .gallery-arrows a:last-child {
    position: absolute;
    right: -30px; }

.gallery-zoom {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .gallery-zoom img {
    width: 38px;
    height: 38px; }

.gallery-item a:hover .gallery-zoom {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mb-45 {
  margin-bottom: 45px; }

.cska-pagination {
  padding: 2rem 0; }
  .cska-pagination ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0; }
  .cska-pagination li {
    list-style: none; }
    .cska-pagination li a {
      font-family: "Manrope-Medium";
      color: #000;
      font-size: 15px; }
    .cska-pagination li a:hover {
      color: #5ca2d0;
      text-decoration: none; }
  .cska-pagination li.active a {
    text-decoration: underline;
    color: #5ca2d0; }

/* end gallery */
/* price list */
.price-list-title {
  text-align: center;
  font-family: arial;
  max-width: 585px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px; }
  .price-list-title h2 {
    font-size: 24px; }
  .price-list-title p {
    font-size: 16px; }

.price-list-content table th,
.price-list-content table td {
  border: 1px solid #555555;
  padding: 20px 30px;
  vertical-align: top;
  font-family: Arial;
  font-weight: 400; }

.price-list-content table th {
  background-color: #00a3d3;
  color: #fff; }

.price-list-content table tr ul li {
  color: #00a3d3; }
  .price-list-content table tr ul li span {
    color: #000; }

/* end price list */


/* 3d tour */
.tur-title {
  text-align: center;
  margin: 40px 0; }

.tur-text {
  text-align: center; }
  .tur-text p {
    font-family: "muller-regular";
    font-size: 16px; }

.tur-item {
  width: 100%; }
  .tur-item iframe {
    max-width: 600px;
    width: 100%;
    display: block;
    margin: 50px auto; }

/* end 3d tour */


/*partners style*/
.partner-item{
  margin-top: 40px;
}
.partner-item img{
  display: block;
  margin: auto;
}
.space-bot{
  margin-bottom: 40px;
}
.mandat-content img{
  float: left;
  margin: 0 20px 20px 0;
}
/*end partners style*/


/*news styles*/

.news-block{
  border: 1px solid #c4c4c4;
  padding: 20px 40px 0;
  margin-bottom: 40px;
  height: 645px;
  overflow: scroll;
  direction: rtl;
}
.news-block-item{
  border-bottom: 1px solid #c4c4c4;
  margin: 10px 0;
}
.news-block-item:last-child{
  border: none;
}
.news-block-item a p,.news-item a p{
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  font-family: "muller-regular";
}
.news-block-item a:hover,.news-item a:hover{
  font-weight: 800;
  text-decoration: none;
}
.news-item .news-date p{
  color: #393b3b;
  font-size: 13px;
  font-family: "muller-regular";
}
.news-item{
  margin-bottom: 50px;
}
.news-item img{
  display: block;
  margin: 0 auto 20px;
}
/*end news styles*/


/* press releases */

.press-content {
  margin-bottom: 30px;
}

.press-title {
  text-align: center;
  margin-bottom: 0;
  padding: 2.5rem 0; 
}

.press-title h1 {
  font-size: 24px;
  color: #000;
  font-family: "Manrope-Regular";
}

.press-left {
  max-width: 268px;
  width: 100%;
}

.press-right {
  margin-left: 20px;
}

.press-right h3 {
  font-family: "muller-regular";
  font-size: 22px;
  color: #000;
  max-width: 577px;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 39px;
}

.press-right h6 {
  font-family: "muller-regular";
  font-size: 16px;
  color: #6e6e6e;
}

.press-right p {
  font-family: "muller-regular";
  font-size: 16px;
  color: #000;
}

.press-btn {
  background-color: #00a3d3;
  padding: 14px 0;
  width: 200px;
  color: #fff;
  font-family: "muller-regular";
  font-size: 16px;
  display: block;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.press-btn:hover {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
/* end press releases */


/*contacts styles*/
.feedback{
  border-left: 3px solid #00a3d3;
  padding-left: 20px;
  height: 40px;
  padding-top: 5px;
  margin-bottom: 30px;
}
.feedback h3{
  color: #000000;
  font-size: 24px;
  font-family: "muller-regular";
}
.contact textarea{
  min-height: 140px;
  border-radius: 10px;
  border: 1px solid #000000;
  width: 70%;
  margin-bottom: 20px;
  padding: 20px;
  outline: none;
}
.contact input{
  outline: none;
  border-radius: 10px;
  border: 1px solid #000000;
  min-height: 40px;
  width: 60%;
  margin-bottom: 20px;
  padding-left: 10px;
}
.no-top{
  margin-top: 10px !important;
}
.map{
  margin-top: 80px;
}
.socials a{
  padding: 0 10px;
}
@media (max-width: 500px){
  .contact textarea{
    margin-top: 50px;
  }
}
/*end contacts*/

/* ARTICLES STYLES */
.article-item {
  padding-left: 1rem;
  border-left: 3px solid #5ca2d0;
  margin-bottom: 2rem; }
  .article-item p {
    margin-bottom: 0;
    font-size: 16px;
    color: #000;
    font-family: "Arial", sans-serif; }
    .article-item p a {
      color: #009de0;
	  word-wrap: break-word;}

/* END ARTICLES STYLES */

/*map styles*/
.map-img{
  width: 50%;
  display: block;
  margin: auto;
}
.map-img img{
  display: block;
  margin: auto;
  width: 100%;
}
.map-img a{
  text-decoration: none;
}
.map-img .img-caption p{
  padding: 20px;
  text-align: center;
  color: #000000;
  font-size: 16px;
  font-family: muller-regular;
  border: 1px solid #b8b8b8;
}
.map-img:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*end map*/
/*feedback-form*/
.feedback-form{
    border-radius: 10px;
    max-width: 410px;
    width: 100%;
    height: 410px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 60px !important;
    margin: 100px auto;
    display: block;
    background-color: #fff;
    overflow: hidden !important;
    position: relative;
}

.feedback-form .title {
    font-size: 18px;
    color: #000000;
    font-family: muller-regular;
    text-align: center;
    margin-bottom: 20px;
}

.feedback-form input{
    width: 100%;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.feedback-form textarea{
    width: 100%;
    height: 90px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 20px;
}

.mid{
    margin-left: 30px;}

.feedback-close {
  cursor: pointer;
}

.feedback-close img{
  float: right;
  margin-top: -10px;
  margin-right: -40px;
}
/*end feedback-form*/

/* footer */
.footer-top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-top ul {
    padding: 0; }
    .footer-top ul li {
      font-family: "muller-regular";
      font-size: 16px;
      list-style-type: none;
      line-height: 30px;
      width: 191px; }
      .footer-top ul li a {
        color: #fff; }

.footer-top-wrap {
  background-color: #2b2d34; }

.footer-links {
  margin: 0; }

.footer-contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
  color: #fff;
  font-family: "muller-regular";
  font-size: 15px; }
  .footer-contacts img {
    margin-right: 15px; }

.footer-phone,
.footer-message {
  margin-bottom: 20px; }

.footer-bottom-wrap {
  background-color: #1e2026;
  color: #fff; }

.developed-by {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .developed-by:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.footer-bottom {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0; }
  .footer-bottom-copyright {
    width: 680px;
    font-family: "muller-regular";
    font-size: 13px; }
    .footer-bottom-copyright p {
      margin: 0; }
  .footer-bottom-social a {
    margin-right: 20px; }
    .footer-bottom-social a:hover img {
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg); }

/* end footer */
